{% extends "accounts/base2.html" %}

	
	{% block main_content %}
	{% if request.session.user_id %}

	<img src='static/accounts/bravo.png'>

	{% else %}
	<h1>Login Here!</h1>
	<form action="{% url 'accounts-login' %}" method="POST">
		{% csrf_token %}
		{{login_form}}
		<input type='submit' value='login'>
	</form>
	


	
	<h1>Register Here!</h1>
	<form action="{% url 'accounts-register' %}" method="POST">
		{% csrf_token %}
		{{register_form.as_p}}
		<input type='submit' value='Register'>
	</form>

	{% endif %}
	{% endblock main_content %}


