{% extends "accounts/base2.html" %}
{% block main_content %}

<h1>User Profile Page</h1>
<p>UserName: {{user.username}}</p>
<p>First Name: {{user.first_name}}</p>
<p>Last Name: {{user.last_name}}</p>
<p>Contact: {{user.email}}</p>


<p>Bio: {{user.info.bio}}</p>
<p>City: {{user.info.address.city}}</p>
<p>Games: 
{% for game in user.info.games.all %}
  {{game.game_title}}, 
{% endfor %}
</p>

<h3>Reviews</h3>
{% for review in reviews %}
  <p>{{review.review}} by {{review.review_by}}</p>
{% endfor %}

<h3>Games nearby</h3>
{% for event in events %}
  <p>{{event.event_name}}</p>
{% endfor %}


{% if request.session.user_id == user.id %}
<h3>Personal Info, not seen by anyone other than you</h3>

<p>Street1: {{user.info.address.street1}} </p>
<p>Street2: {{user.info.address.street2}} </p>
<p>City: {{user.info.address.city}} </p>
<p>State: {{user.info.address.state}} </p>
<p>Zip Code: {{user.info.address.zipcode}} </p>


<h3>Update Profile</h3>
<form action='/user/{{user.id}}/update' method='POST'>
	{% csrf_token %}
	{{form.as_p}}
	<input type='hidden' name='user_id' value='{{user.id}}'>
	<input type='submit' value='Update Profile'>
</form>
{% endif %}

<hr>
<hr>

{% if not user.id == request.session.user_id %}
<form action = "/user/{{user.id}}/review" method = "POST">
  {% csrf_token %}
  {{review_form.as_p}}
  <input type = 'hidden' name = 'review_for_id' value = "{{user.id}}">
  <input type = "submit" value = "Add Review">
</form>

{% endif %}

{% for review in review %}
  <!-- If filter is used to fetch reviews, the if statement is not needed -->
  {% if review.reviewed_for == user.id %}
    <p>{{review.review}}</p>
    <p>{{review.rating}}</p>
    <p>{{review.created_at}}</p>
    <p>{{review.reviewed_by}}</p>
  <!-- {% endif %} -->
{% endfor %}


<hr>
<hr>






{% endblock %}