{% extends "games/base.html" %}

{% block main_content %}
	<h1>{{object.event_name}}</h1>
	<p>Hosted by: {{object.host.username}}</p>
	<p>Seats filled: {{object.seats_filled}}/{{object.seats}}</p>
	<p>Event zipcode: {{object.location.zipcode}} (only those accepted at event can see full address)</p>
	<p>Games at event:
		{% for game in object.games.all %}
			{{game.game_title}} /
		{% endfor %}
	</p>

<!-- 	<p>Suitable for {{context.min_players}} to {{context.max_players}}</p>
	<p>Game Image: {{context.image}}</p>
	<p>Game Length: {{context.game_length}}</p>
	<p>Description: {{context.description}}</p>
	<p>Game Categories:
	{% for category in game.game_type.all %}
		{{category.category}} /
	{% endfor %}
	</p> -->
	
{% endblock %}
